<div class="row">
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/airplane" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/airplane.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aeronaves</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/cherry" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cerejas</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/thermal" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/thermal.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Thermal</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/sheep" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/weeds.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ovelhas</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/cherry" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/cherry" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                </div>
            </div>
        </a>
    </div>
</div>