<div class="row">
    <div class="col-xl-12 main-content">
      <h1 class="page-title">Serviços Disponíveis</h1>
      <hr>
    </div>
  </div>

<div class="row">

    
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/airplane" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/airplane.jpg" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Detecção de Aeronaves</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/cherry" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry/cherry-2.jpg" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Detecção de Cerejas</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/thermal" (click)="false" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/thermal.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Detecção Thermal</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2">
        <a href="/apps/services/object-detection/list/sheep" (click)="true" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/sheep.jpg" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Detecção Área de Ovelhas</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2" hidden>
        <a href="/apps/services/object-detection/list/cherry" (click)="false"  class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-2" hidden>
        <a href="/apps/services/object-detection/list/cherry" (click)="false" class="col-md-6">
            <div class="card text-center">
                <img src="assets/images/roboflow/cherry.png" height="175.1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                </div>
            </div>
        </a>
    </div>
</div>